<!DOCTYPE html>
<html lang="en">
<head>
  {# Load the tag library #}
  {% load bootstrap4 %}

  {# Load CSS and JavaScript #}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
     <meta charset="utf-8">
     <title>Bokeh Plot</title>

<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css" type="text/css" />

<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
<script type="text/javascript">
 Bokeh.set_log_level("info");
</script>

<style>
          html {
            width: 90%;
            height: 100%;
          }
          body {
            width: 90%;
            height: 100%;
            margin: auto;
          }
        </style>

 </head>
<body>
    <div style="width:100%, align:center;">
    {{ bk_script|safe }}
    {{ bk_div|safe }}

    <h2>ONE OUR TIME FRAME</h2>
    {{ h_bk_script|safe }}
    {{ h_bk_div|safe }}
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg">

          <table class="table table-dark  table-bordered">
{% for key in value %}
<tr>
  <td>{{ key.reqtime|date:'d H:i' }}</td>
  <td>{{ key.coin_value }} BTC</td>

</tr>
  {% endfor %}
          </table>
        </div>
      </div>
    </div>

{{endfor}}
</body>
</html>
