{% if  coins_list %}
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}


<div class="container-fluid">
    <div class="row">
        <div class="col-lg">
          {% if  gems %}
          <table class="table  table-bordered">
          <div style="width:100%"> <h3 style="text-align:center; background-color: #212529; color:#99B77B; padding:5px; margin-bottom:0px ;">tasty DIPs</h3></div>


            <tr>
          <th scope="col">COIN Name</th>
          <th scope="col" >DIP %</th>
          <th scope="col">Start price</th>
            </tr>

            {% for records in gems %}

            <tr>

              <th> <a style="color:#99B77B;" href="/{{ records.coinid }}/">{{ records.gem_name }}</a> </th>
              <td>{{ records.gemDip }}%</td>
              <td>{{ records.gemStartPrice }}$</td>


            </tr>
              {% endfor %}
          </table>
          {% else %}
          <div style="width:100%"> <h3 style="text-align:center; background-color: #212529; color:#99B77B; padding:5px; margin-bottom:0px ;">Sorry, no DIPs now</h3></div>
          {% endif %}

<table class="table table-dark  table-bordered">
<div style="width:100%"> <h3 style="text-align:center; background-color: #212529; color:#99B77B; padding:5px; margin-bottom:0px ;">Coins data from Coinmarketcap</h3></div>
  <tr>
<th scope="col">COIN Name</th>
<th scope="col" >price $</th>
<th scope="col">price change 2 h</th>
<th scope="col">price change 10 min</th>
  </tr>

  {% for coins in coins_list %}

  <tr>

    <th> <a style="color:#99B77B;" href="/{{ coins.id }}/">{{ coins.coin_ticker }}</a> </th>

    <td> {{ coins.value_set.all.last.coin_value }} $</td>
    <td>{{ coins.coinproperties_set.all.last.coin_change }}%</td>
    <td>{{ coins.coinproperties_set.all.last.coin_changehalf }}%</td>


  </tr>
    {% endfor %}
</table>

{% else %}
    <p>No coins are available.</p>
{% endif %}
</div>
</div>
</div>
